<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset='utf-8'>
<title>LearningStopwatch</title>
</head>
<body>
	<!--共通ヘッダ-->
	<header>
		
	</header>
	<!--共通ヘッダ-->
	
	<!--共通ナビゲーション-->
	<nav>
		<a th:href="{main/stopwatch}" th:text="ストップウォッチ"></a>
		<a th:href="{main/mypage}" th:text="マイページ"></a>
	</nav>
	<!--共通ナビゲーション-->
	
	<!--置き換え場所-->
	<div layout:fragment="context">
		
	</div>
	<!--置き換え場所-->
	
	<!--共通フッタ-->
	<footer>
		
	</footer>
	<!--共通フッタ-->
</body>
</html>
