	<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>パスワード変更</title>
    </head>
    <body>
		<nav>
			<a >
		</nav>
        <h1>パスワード変更</h1>
        <h3>パスワード変更フォーム</h3>
		<!--▽▽　Formを表示　▽▽-->
         <form method="post" th:action="@{update_password}"> 
			 
         現在のパスワード:<input type="text" name="oldPassword"><br>
         新しいパスワード:<input type="text" name="newPassword"><br>
         新しいパスワード（再入力）:<input type="text" name="checkPassword"><br>
         
         <input type="submit" value="変更"> 
         <!--△△　Formを表示　△△-->
         
		 <!--▽▽ 登録結果を表示する ▽▽-->
         <th:block th:if="${result}">
			 <p th:text="${result}"></p>
         </th>
         <!--△△ 登録結果を表示する △△-->
         
         <button type="button" onclick="history.back()" th:text="戻る"></button>
         </form>  

    </body>
</html>